.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background: linear-gradient(287deg, rgba(233,186,54,1) 0%, rgb(247, 60, 231) 100%, rgba(255,255,255,1) 100%);
  font-size: 24px;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin: 20px 0 20px 0;
  font-weight: bold;
  cursor: pointer;
}